.bg{
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(8, 12, 19, 0.72) 100%),
  url(bg.jpg);
  filter: drop-shadow(0px -20px 20px rgba(0, 0, 0, 1));
}
.content{
  align-items: center;
}
.title{
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 7px;

  &_slider{
    @extend .title;
    padding-top: 0;
    margin-bottom: 45px;
  }

  @media (max-width: 575.98px){
    font-size: 15px;
    line-height: 18px;
    padding-top: 30px;
    margin-bottom: 0;
    &_slider{
      margin-bottom: 25px;
    }
  }
}
.subtitle{
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;

  @media (max-width: 575.98px){
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 15px;
  }
}
.require{
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  @media (max-width: 575.98px){
    flex-direction: column;
    margin-bottom: 30px;
  }

  &_text{
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    text-transform: uppercase;
    margin-right: 60px;

    &:after{
      content: '';
      display: block;
      width: 406px;
      height: 1px;
      background: #64B2D8;
      margin-top: 10px;
    }

    @media (max-width: 575.98px){
      font-size: 13px;
      line-height: 15px;
      text-align: center;
      margin: 0 0 15px;
      &:after{
        display: none;
      }
    }
  }
}
.reg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 361px;
  height: 100px;
  background: linear-gradient(180deg, #0A4F66 0%, #032B37 100%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 12px 20px;

  @media (max-width: 575.98px){
    width: 273px;
    height: 73px;
    padding: 10px 0 0;
  }
  &_button{
    width: 277px;
    height: 38px;
    background: #FFF;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #0A5269;
    margin-bottom: 10px;

    transition: .3s;
    &:hover{
      background: #032B37;
      color: #FFF;
    }

    @media (max-width: 575.98px){
      width: 204px;
      height: 28px;
      font-size: 13px;
      line-height: 0;
      margin-bottom: 8px;
    }
  }

  &_note{
    font-size: 10px;
    line-height: 12px;
    text-align: center;

    @media (max-width: 575.98px){
      font-size: 8px;
      line-height: 9px;
    }
  }
}
.result{
  @extend .require_text;
  text-align: center;
  margin: 0 0 110px;
  max-width: 902px;
  &:after{
    display: none;
  }

  @media (max-width: 575.98px){
    margin-bottom: 70px;
    &:after{
      display: block;
      margin: 8px auto 0;
      width: 210px;
      height: 1px;
    }
  }
}
.country{
  position: relative;
  margin-bottom: 140px;
  &_img{
    position: absolute;
    top: 125px;
    left: -750px;
    z-index: 1;
  }
  &_title{
    @extend .title;
    max-width: 670px;
    margin-bottom: 150px;
  }
  &_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &_item{
    font-size: 40px;
    line-height: 46px;
    margin: 0 0 40px 50%;
    text-align: left;
    &:nth-child(5){
      margin-bottom: 100px;
      position: relative;
      &:after{
        content: '';
        width: 654px;
        height: 4px;
        position: absolute;
        bottom: -75px;
        left: -100%;
        background: #FFFFFF;
      }
    }
  }
  &_note{
    max-width: 566px;
    font-size: 20px;
    line-height: 23px;
    margin: 0 0 0 10%;
  }
  @media (max-width: 575.98px){
    margin-bottom: 70px;
    &_img{
      height: 386px;
      top: 50px;
      left: -280px;
    }
    &_title{
      margin-bottom: 45px;
    }
    &_item{
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 22px;
      &:nth-child(5) {
        margin-bottom: 45px;

        &:after {
          width: 359px;
          height: 2px;
          bottom: -34px;
          left: -140%;
        }
      }
    }
    &_note{
      width: 217px;
      font-size: 10px;
      line-height: 12px;
      margin: 0 0 0 25%;
    }
  }
}
