.bg{
  background-image: linear-gradient(0deg, rgba(5, 8, 14, 0) -6.6%, #000 78.58%),
                    linear-gradient(180deg, rgba(4, 6, 11, 0.72) 0%, rgba(8, 12, 19, 0.72) 100%),
                    url(images/bg.jpg);
}
.title{
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;

  @media (max-width: 575.98px){
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
    align-self: center;
  }
}
.subtitle{
  max-width: 605px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 30px;

  @media (max-width: 575.98px){
    max-width: 230px;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 35px;
  }
}
.content{
  width: 100%;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-bottom: 90px;
}
.result_block{
  flex: 0 1 520px;
  &_title{
    @extend .title;
    line-height: 40px;
    max-width: 470px;
    margin-bottom: 40px;
    text-align: left;
  }
  @media (max-width: 575.98px){
    &_title{
      line-height: 18px;
      margin-bottom: 15px;
    }
    &_row{
      justify-content: center;
    }
  }
}
.result_item{
  display: flex;
  align-items: center;
  margin-right: 30px;

  &:nth-child(3){
    margin-top: 25px;
  }
  &_text{
    font-size: 25px;
    line-height: 29px;
    @media (max-width: 575.98px){
      font-size: 15px;
      line-height: 17px;
    }
  }
  &_img{
    margin-right: 15px;
    @media (max-width: 575.98px){
      width: 41px;
      margin-right: 10px;
    }
  }
}
.planet_block{
  flex: 1 1;
  align-items: flex-end;

  @media (max-width: 575.98px){
    justify-content: center;
  }
}
.planet_item{
  position: relative;
  display: flex;
  align-items: center;
  min-height: 150px;

  &_text{
    max-width: 205px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    &:after{
      content: '';
      display: block;
      position: relative;
      left: 5px;
      bottom: -7px;
      width: 221px;
      height: 2px;
    }

    @media (max-width: 578.98px) {
      font-size: 15px;
      line-height: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 161px;
      margin-bottom: 30px;
      &:after{
        width: 261px;
        height: 1px;
      }
    }
  }
  &_img{
    position: absolute;
    right: -100%;
    width: 255px;
    @media (max-width: 578.98px){
      position: static;
      width: 100px;
      vertical-align: middle;
      z-index: 1;
      margin-left: -100px;
    }
  }
  &:nth-child(1){
    right: 13%;
    margin-bottom: -40px;
    margin-top: -65px;
    .planet_item_text{
      &:after{
        background: linear-gradient(90deg, #D56441 -6.11%, rgba(255, 255, 255, 0) 106.33%);
      }
    }
  }
  &:nth-child(2){
    right: 33%;
    margin-bottom: 10px;
    .planet_item_text{
      &:after{
        background: linear-gradient(90deg, #CF6E27 -6.11%, rgba(255, 255, 255, 0) 106.33%);
      }
    }
  }
  &:nth-child(3){
    right: 47%;
    margin-bottom: 10px;
    .planet_item_text{
      max-width: 147px;
      margin-right: 40px;
      &:after{
        background: linear-gradient(90deg, #64B2D8 -6.11%, rgba(255, 255, 255, 0) 106.33%);
      }
    }
    @media (max-width: 575.98px){
      .planet_item_text{
        max-width: none;
        margin-right: 0;
      }
    }
  }
  &:nth-child(4){
    right: 40%;
    .planet_item_text{
      &:after{
        background: linear-gradient(90deg, #D58A76 -6.11%, rgba(255, 255, 255, 0) 106.33%);
      }
    }
  }
  &:nth-child(5){
    right: 16%;
    .planet_item_text{
      &:after{
        background: linear-gradient(90deg, #252E74 -6.11%, rgba(255, 255, 255, 0) 106.33%);
      }
    }
    @media (max-width: 575.98px){
      margin-bottom: 60px;
    }
  }
  &:nth-child(n){
    @media (max-width: 575.98px){
      right: 0;
      margin: 0;
    }
  }
  @media (max-width: 578.98px) {
    flex-direction: row-reverse;
    min-height: 0;
    height: 60px;
    width: 100%;
    justify-content: center;
  }
}