.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  padding-top: 95px;
  margin-bottom: 10px;

  @media (max-width: 575.98px){
    flex-direction: column;
    font-size: 15px;
    line-height: 18px;
    padding-top: 20px;
    margin-bottom: 20px;
  }
}
.subtitle{
  font-size: 20px;
  line-height: 23px;
  margin: 0 auto 25px;
  text-align: center;
  max-width: 631px;

  @media (max-width: 575.98px){
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 35px;
    max-width: 310px;
  }
}
.text{
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 25px;
  text-transform: uppercase;
  &:nth-last-child(1){
    margin: 0;
  }

  &__c{
    @extend .text;
    text-align: center;
    margin: 0;
    flex: 0 1 470px;
    padding: 0 35px;
    margin: 0 -17.5px;
  }

  @media (max-width: 575.98px) {
    font-size: 13px;
    line-height: 15px;
    margin: 0 0 13px 0;
    padding-left: 20px;
    flex-basis: 0;
    position: relative;

    &:before{
      content: '';
      display: inline-block;
      position: absolute;
      top: 0.32em;
      left: 0;
      width: 5px;
      height: 5px;
      background: #64B2D8;
      border-radius: 50%;

    }

    &__c{
      text-align: left;
      padding: 0 0 0 20px;
    }
  }
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;

  &:nth-child(1){
    margin-bottom: 20px;
  }

  @media (max-width: 575.98px){
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    max-width: 296.6px;
    &:nth-child(1){
      flex-direction: column-reverse;
    }
  }
}
.col{
  display: flex;
  flex-direction: column;

  &:after{
    content: '';
    display: block;
    margin: 65px auto 0;
    width: 786px;
    height: 1px;
    background: linear-gradient(180deg, #0A4E66 0%, #00ABFF 100%);
    @media (max-width: 575.98px){
      width: 268px;
      margin: 45px auto 42px;
    }
  }

  &__text{
    display: flex;
    flex-direction: column;
    flex: 0 1 340px;

    @media (max-width: 575.98px){
      flex: 0 0 0;
    }
  }
}
.img{
  margin-right: 40px;

  @media (max-width: 575.98px){
    margin: 0;
    height: 200px;
  }
}
.content{}

