.content{
  align-items: center;
}
.title{
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  padding-top: 85px;
  margin-bottom: 50px;

  @media (max-width: 575.98px){
    font-size: 15px;
    line-height: 18px;
    padding-top: 45px;
    margin-bottom: 20px;
  }
}
.row{
  justify-content: center;
  margin-bottom: 90px;

  @media (max-width: 575.98px){
    margin-bottom: 10px;
  }
}
.item{
  flex: 0 1 50%;
  align-items: center;
  &_num{
    font-weight: 900;
    font-size: 350px;
    text-align: center;
  }
  &_text{
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    max-width: 443px;
  }
  @media (max-width: 575.98px){
    &_num{
      font-size: 150px;
    }
    &_text{
      font-size: 8px;
      line-height: 12px;
      max-width: 128px;
    }
  }
}
.btn{
  width: 353px;
  height: 64px;
  background: linear-gradient(180deg, #0A5269 0%, rgba(10, 82, 105, 0) 100%);
  border-radius: 10px;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  color: #FFF;
  margin-bottom: 100px;
  transition: .5s;
  &:hover{
    background: #032B37;
  }
  @media (max-width: 575.98px){
    width: 169px;
    height: 38px;
    font-size: 15px;
    margin-bottom: 40px;
  }
}