.container{
  margin-bottom: 115px;

  @media (max-width: 575.98px){
    margin-bottom: 70px;
  }
  @media (max-width: 320px){
    margin-bottom: 50px;
  }
}
.logo {
  margin: 35px 0 0 35px;
  @media (max-width: 575.98px) {
    width: 159px;
    height: 34px;
    margin: 42px 0 0 38px;
  }
}