.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
  position: relative;

  @media (max-width: 575.98px){
    padding-bottom: 20px;
  }
}
.logo{
  height: 25px;
  position: absolute;
  left: 45px;

  @media (max-width: 575.98px){
    display: none;
  }
}
.copyright{
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 575.98px){
    font-size: 13px;
    line-height: 15px;
  }
}